
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Quantite</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of produits">
      <td >{{ p.ref }}</td>
      <td >{{ p.produit }}</td>
      <td >{{ p.prix }}</td>
      <td >{{ p.qte }}</td>
      <td>
        <div [class.alternate-button]="isAlternateMode">
          <button mat-button (click)="onClick(p.ref,p.produit,p.prix,p.qte)">ADD</button>
        </div>
      </td>
      <td>
          <button mat-button (click)="onDelClick(p.ref,p.produit,p.prix,p.qte)">DEL</button>
      </td>
      <td>
          <button mat-button ><a [routerLink] = "['/catalogue/detail',p.ref]"  > [+]</a> </button>
      </td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>